html {
  position: relative;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Avoid the IE 10-11 `min-height` bug. */
  background: #726DB0;
  background-size: cover;
}


a.button {
  font: 18px Helvetica;
  font-weight: bold;
  color: #010002;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 3px;
  background: #009688;
  padding: 15px;

}
a.button:hover {
  box-shadow: 0 0 -3px black inset;
  background: #010002;
  color: #d6d6d6;
  transition: 0.7s;
}
a.button:active {
  background: #a2a1a8;
}

button-circle {
	width: 100px;
	height: 100px;
	background: red;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

.content {
  flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 20px;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
}

.flex-container > * {
    padding: 15px;
    -webkit-flex: 1 100%;
    flex: 1 100%;
}


.article {
    text-align: left;
}


@media all and (min-width: 768px) {
    .article {-webkit-flex:5 0px;flex:5 0px;-webkit-order:2;order:2;}

}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font: 16px Arial;
  color: #d6d6d6;
}
h1 {
  margin: 0 0 20px 0;
}
p {
  margin: 0 0 20px 0;
}
